{
	"printWidth": 80,
	"tabWidth": 4,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": true,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
